

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tex-gyre-adventor" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <script src="./home.js"></script> -->
    <title>RBB</title>
  </head>
  
     <body>

    <!-- logo top -->
    <div class="container-fluid  text-center py-2" id="topnav">
            <div class="row ">
                <div class="col-2 pt-1 justify-content-start text-center" >
                    <span onclick="openNav()">
                       <i class="fa fa-bars mx-1 " style="font-size:20px">
                      </i>
                    </span>
                    </div>
                    <div class="col-8 text-center">
                        <a href="/" class="blog-header-logo">RED BOTTOM BRUNCH</a>
                    </div>
                    <div class="col-2 justify-content-end align-items-center py-2">
                    
                        <a href="https://www.instagram.com/therbbpodcast/"><i class="fa fa-instagram px-3" aria-hidden="true"></i></a>
                    
                    
                        <a href="https://itunes.apple.com/us/podcast/red-bottom-brunch-podcast/id1437120471?mt=2&i=1000420313231&ls=1"><i class="fa fa-apple px-3" aria-hidden="true"></i></a>
                      
                      
                        <a href="https://open.spotify.com/show/0HItBerR1fasuciJ66hpdt"><i class="fa fa-spotify px-3" aria-hidden="true"></i></a>
                      
                  </div>
            </div>
</div> 


  <nav class="navbar navbar-expand navbar-light mt-0" id="mainnav">
      <div class="collapse navbar-collapse justify-content-center" >
        <ul class="navbar-nav justify-content-between ">
            <li class="nav-item px-5">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item px-5">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link " href="/blog">BLOG</a>  
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link " href="/podcast">POD</a>
              </li>
              <li class="nav-item px-5">
                  <a class="nav-link " href="/about#thegals">THE GALS</a>
              </li>
        </ul>
      </div>
    </nav>

<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/blogs">BLOG</a>
    <a href="/podcast">POD</a>
    <a href="/about#thegals">THE GALS</a>

  </div>

</div>
<div class="col d-xs-block d-sm-block d-md-none d-lg-none d-xl-none" data-aos="zoom-out">
    <img src="./../images/393586b9-5ffa-4bbb-aca7-a10b21f1c17f.jpeg" alt="" class="img-fluid  aboutpic">
</div>

<div class="container-fluid aboutrbb my-3 h-100">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-6 my-5 px-4 d-none d-md-block" data-aos="zoom-out">
            <img src="./../images/393586b9-5ffa-4bbb-aca7-a10b21f1c17f.jpeg" alt="" class="img-fluid ">
        </div>
        <div class="col-md-6  px-4 text-justify " data-aos="zoom-out">
            <h2 class="d-none d-lg-inline .d-xl-inline">hey brunch babe!</h2>
            <h5 class="xoxo text-center d-block d-lg-none"> hey brunch babe!</h5> 
    
            <br>
           <!-- <h3 class="text-center">Hey Brunch Babe!</h3>  -->
           <p> <br>
            Red Bottom Brunch was created by three masters educated women who simply love brunch, cocktails and table talk.  Our mission for the brand is giving women of color the platform to build and grow through networking and communication in the Philadelphia area.  The ladies of RBB hope to encourage, inspire, and empower women through brunch related topics, events, and conversations.
            <br>
                  <br>
                  In 2018 after many brunch meetings, phone calls, and girls nights we launched the first season of The RBB Podcast.  On this platform, we explore various topics in today’s society and culture while sharing our personal perspectives and opinions.  In efforts to expand our brand, we now have a brunch dedicated blog!  Each month we’ll be heading to brunch and giving you the inside scoop on our experiences. You can also head over to our Youtube channel to check out our reviews, tutorials, and vlogs.  
                  <br>
                  Thank you for stopping and feel free to grab a seat because brunch has been served!
                  We're happy to have you on this journey with us! <p class="d-md-none d-lg-none d-xl-none mobilexo mb-4"> xoxo, the rbb gals</p></p>
                  
                 <h5 class="xoxo text-center d-none d-sm-none d-md-block d-lg-block d-xl-block"> xoxo 
                 <br> the rbb gals</h5> 
          
        </div>
    </div>
    </div>
</section>

<div class="col d-md-none d-lg-none d-xl-none my-5"></div>
    <div class=" container text-center middle ">
    </div>
    <section>
    <div class="container-fluid thegals py-3 h-100 " id="thegals">
    <div class="row my-5 mx-5 align-items-center overflow-hidden d-md-flex flex-md-equal "  data-aos="fade-right">
        <div class="col-md-4  text-center  d-none d-md-block ">
            <br class="mb-3 d-md-none d-lg-none d-xl-none">
            <h1 class="display-4 clear">NONNI</h1>
            <h1 class="display-1 cursive">nonni</h1>
        </div>
        <div class="col-md-8    px-4 py-3" data-aos="fade-left">
            <h4 class="d-block d-sm-block d-md-none text-center" data-aos="fade-left">NONNI</h4>
            <p> A small city girl with big dreams. She is a firm believer in staying true
                 to who you are. She enjoys good vibes and has a taste for travel. 
                 Aside from RBB, Nonni loves writing, reading fiction (that will most likely become an adaptation) 
                 and scrolling Pinterest for home decor inspiration. Be sure to keep up with this gal on Instagram @modestrebel. 
            </p>
            <div class="container-fluid align-items-center text-center " data-aos="fade-left">
                <a href="https://www.instagram.com/modestrebel/" class="btn instabtn">@modestrebel</a>
            </div>
        </div>
    </div>
    <div class="row my-3 mx-5 align-items-center overflow-hidden d-md-flex flex-md-equal "  data-aos="fade-right">
        <div class="col-md-4 text-center d-none d-md-block" data-aos="fade-right">
            <h1 class="display-4 clear">MOE</h1>
            <h1 class="display-1 cursive pl-5"> moe</h1>
        </div>
        <div class="col-md-8 px-4 py-3" data-aos="fade-left">
            <h4 class="d-block d-sm-block d-md-none text-center">MOE</h4>
            <p>This RBBgal has an eye for style, with a DIY attitude! Like her co-host she enjoys writing, brunch, makeup, and the occasional audio book. You can find her personal blog at lifewithasideofwine.com  and on Instagram @___moeeee____ .
            </p>
            <div class="container-fluid align-items-center text-center " data-aos="fade-left">
                <a href="https://www.instagram.com/___moeeee____/" class="btn instabtn">@___moeeee____</a>
            </div>
        </div>
    </div>
    <div class="row my-5 mx-5 align-items-center overflow-hidden  d-md-flex flex-md-equal" data-aos="fade-right">
        <div class="col-md-4 text-center d-none d-md-block">
            <h1 class="display-4 clear">HON.E</h1>
            <h1 class="display-1 cursive">hon.e</h1>
        </div>
        <div class="col-md-8   px-4 py-3 ">
            <div>
                <h4 class="d-block d-sm-block d-md-none text-center ">HON.E</h4>
            </div>
            <p data-aos="fade-left"> A mental health advocate and self-described Eggs Benedict connoisseur with a love of traveling. Hon.E has a “you gotta do what you gotta do” type attitude but enjoys her downtime when she’s not hustling and bustling. In her spare time, Hon.E likes writing scripts/poems/blogs,checking out interesting spots in Philadelphia, and target shooting with her brother (she’s a pretty good shot!) Keep up with Hon.E
                on Instagram @hon.e.bunch and check out her blog at honeyscorner.com! </p>
                <div class="container text-center">
                    <a href="https://www.instagram.com/hon.e.bunch/" class="btn instabtn" data-aos="fade-left">@hon.e.bunch</a>
                </div>
        </div>
     </div>
    </div>
    </section>
    <footer class="footer text-center ">
        <div class="">
          <p class="mb-0" >RED BOTTOM BRUNCH     2020</p>
        </div>
      </footer>

          <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
        <script>
            function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          /* Close when someone clicks on the "x" symbol inside the overlay */
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }</script>
  </body>
</html>

      
      
