<h1>THIS IS THE SECRET PAGE</h1>

<p>you found me</p>

<div class="container ">
    <div class="row text-center">
      <% blogs.forEach(function(blog){ %>
        <div class="col px-1 py-1 my-1 mx-1">

            <article class="card mb-4 slide-in-left">

                <div class="card-img ">
               
                    <img src="./images/drinks.jpeg" alt="" >

               </div>
               <header class="card-header">
                   <div class="card-meta">
                       <h4 class="card-title">Lorem ipsum dolor sit.</h4>
                   </div>
               </header>
                <div class="card-body">
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</p>
                </div>
            </article>
        </div>
        <div class="col-md-6 px-1 py-1 my-1 mx-1">
          

       </div>
       <div class="col px-1 py-1 my-1 mx-1">
           <article class="card mb-4 slide-in-left">
              <a href="#">
               <div class="card-img">
                  <img src="<%= blog.image%> " alt="">
              </a>
           </div>
           <header class="card-header">
               <div class="card-meta">
                   <h4 class="card-title"><%= blog.title %></h4>
               </div>
           </header>
              <div class="card-body">
                <%= blog.description %>
              </div>
          </article>
          <% }); %>
       </div>
    </div>

