

<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %> 

<body>
    <div class="container-fluid  text-center" id="topnav">
        <div class="align-items-center">
        <header class="blog-header py-2 ">
            <div class="row flex-nowrap justify-content-between ">
                <div class="col-4 pt-2  justify-content-start d-flex text-center">
                    <i class="fa fa-bars mx-3 mt-1" style="font-size:20px"></i>
                </div>
                <div class="col-4 text-center" id="logo">
                    <a href="" class="blog-header-logo">RBB</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <i class="fa fa-instagram px-3" aria-hidden="true"></i>
                    <i class="fa fa-apple px-3" aria-hidden="true"></i>
                    <i class="fa fa-spotify px-3" aria-hidden="true"></i>
                </div>
            </div>
        </header>
        </div>
</div>

<div class="container-fluid h-20">
    <h3></h3>
</div>
  
     <div class="container-fluid shadow color-change-5x  text-center"id="sign">
        <div class="row px-5 py-5 justify-content-center align-items-center">
            <div class="col-6 .bg-pan-top mx-5 mx-5  ">
            <form action="/signup" method="POST" >
              <h1 class="title">Sign Up</h1>
              <div class="field">
                <label class="label">Email</label>
                <input required class="input" name="username" type="text" placeholder="Email"  />
                <!-- <p class="help is-danger">${getError(errors, 'email')}</p> -->
              </div>
              <div class="field">
                <label class="label">Password</label>
                <input required class="input" placeholder="Password" name="password" type="password" />
              </div>
              <button class="button is-primary">Submit</button>
            </form>
          <!-- </div> -->
        </div>    
    </div>
</div>

        <div class="container-fluid  "id="sign">
            <div class="row justify-content-center align-items-center ">
                <div class="col-6  ">
               <img src="./images/71FA2A8C-46E5-4966-86B9-D87F8A6546D9.png" alt="">
            </div>        
        </div>
        </div>


      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>   


