body{
    font-family: "Lato", sans-serif;
    width: 100%;
    max-width: 1280px;
  }
  
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 30%;
    font-size: 1.5rem; /* Increased text to enable scrolling */
   
    overflow: hidden;
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .admin > div.container {
    margin: 40px 10%;
  }
  
  .admin .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin table {
    width: 100%;
  }
  
  .admin table th:first-of-type {
    width: 50%;
  }
  .admin table td:first-of-type {
    width: 50%;
  }
  
  .admin table td {
    vertical-align: middle;
  }

